In [1]:
import pandas as pd 
from sklearn.model_selection import StratifiedKFold

In [3]:
dataset_path = pd.read_csv('../data_splits/train_path.csv')
dataset_path

      Unnamed: 0                                         image_path  target
0            799  /home/sebastien/Documents/projects/solafune-fi...       0
1            474  /home/sebastien/Documents/projects/solafune-fi...       0
2            395  /home/sebastien/Documents/projects/solafune-fi...       0
3            252  /home/sebastien/Documents/projects/solafune-fi...       0
4             11  /home/sebastien/Documents/projects/solafune-fi...       0
...          ...                                                ...     ...
1110          91  /home/sebastien/Documents/projects/solafune-fi...       0
1111         904  /home/sebastien/Documents/projects/solafune-fi...       0
1112         442  /home/sebastien/Documents/projects/solafune-fi...       0
1113         443  /home/sebastien/Documents/projects/solafune-fi...       0
1114        1099  /home/sebastien/Documents/projects/solafune-fi...       0

[1115 rows x 3 columns]

In [31]:
stratified_kfold = StratifiedKFold(n_splits=10)

In [32]:
stratified_kfold

StratifiedKFold(n_splits=10, random_state=None, shuffle=False)

In [33]:
for fold, (train_indices, val_indices) in enumerate(stratified_kfold.split(dataset_path.image_path, dataset_path.target)):
    print(f"Fold {fold}:")

    fold_df_train = dataset_path.iloc[train_indices]
    fold_df_val = dataset_path.iloc[val_indices]
    fold_df_train.to_csv("train_" + str(fold)+".csv")
    fold_df_val.to_csv("val_" + str(fold)+".csv")

Fold 0:
Fold 1:
Fold 2:
Fold 3:
Fold 4:
Fold 5:
Fold 6:
Fold 7:
Fold 8:
Fold 9:

In [34]:
pd.read_csv('train_0.csv')

,Unnamed: 0.1,Unnamed: 0,image_path,target
0,102,946,/home/sebastien/Documents/projects/solafune-fi...,0
1,103,842,/home/sebastien/Documents/projects/solafune-fi...,0
2,105,200,/home/sebastien/Documents/projects/solafune-fi...,0
3,106,1169,/home/sebastien/Documents/projects/solafune-fi...,0
4,107,327,/home/sebastien/Documents/projects/solafune-fi...,0
...,...,...,...,...
998,1110,91,/home/sebastien/Documents/projects/solafune-fi...,0
999,1111,904,/home/sebastien/Documents/projects/solafune-fi...,0
1000,1112,442,/home/sebastien/Documents/projects/solafune-fi...,0
1001,1113,443,/home/sebastien/Documents/projects/solafune-fi...,0
1002,1114,1099,/home/sebastien/Documents/projects/solafune-fi...,0

In [36]:
pd.read_csv('train_9.csv')

,Unnamed: 0.1,Unnamed: 0,image_path,target
0,0,799,/home/sebastien/Documents/projects/solafune-fi...,0
1,1,474,/home/sebastien/Documents/projects/solafune-fi...,0
2,2,395,/home/sebastien/Documents/projects/solafune-fi...,0
3,3,252,/home/sebastien/Documents/projects/solafune-fi...,0
4,4,11,/home/sebastien/Documents/projects/solafune-fi...,0
...,...,...,...,...
999,1000,566,/home/sebastien/Documents/projects/solafune-fi...,0
1000,1001,651,/home/sebastien/Documents/projects/solafune-fi...,0
1001,1002,304,/home/sebastien/Documents/projects/solafune-fi...,0
1002,1003,378,/home/sebastien/Documents/projects/solafune-fi...,0
1003,1004,629,/home/sebastien/Documents/projects/solafune-fi...,0

In [38]:
pd.read_csv('train_4.csv')

,Unnamed: 0.1,Unnamed: 0,image_path,target
0,0,799,/home/sebastien/Documents/projects/solafune-fi...,0
1,1,474,/home/sebastien/Documents/projects/solafune-fi...,0
2,2,395,/home/sebastien/Documents/projects/solafune-fi...,0
3,3,252,/home/sebastien/Documents/projects/solafune-fi...,0
4,4,11,/home/sebastien/Documents/projects/solafune-fi...,0
...,...,...,...,...
998,1110,91,/home/sebastien/Documents/projects/solafune-fi...,0
999,1111,904,/home/sebastien/Documents/projects/solafune-fi...,0
1000,1112,442,/home/sebastien/Documents/projects/solafune-fi...,0
1001,1113,443,/home/sebastien/Documents/projects/solafune-fi...,0
1002,1114,1099,/home/sebastien/Documents/projects/solafune-fi...,0